.canvas {
  display: flex;
}

.game {
  width: 64px;
  text-align: center;
  margin-top: 50px;
  background-color: rgba(78, 59, 199, 0.817);
  cursor: pointer;
  font-weight: 550;
  height: 40px; /* here configure as your needs */
  transition: all 0.2s;
  color: white;
}

.game:active {
  background-color: #f2e394;
  color: black;
}

.card-container {
  display: flex;
}

.ace-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#deck {
  cursor: pointer;
}

#ace {
  background-image: url("../../images/ace-background");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.total {
  display: flex;
  justify-content: center;
  align-content: center;
}

.card {
  min-width: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid 1px #808080;
  background-color: white;
  font-size: 20pt;
  height: 110px;
}

.empty-array {
  height: 110px;
  border: solid 1px #808080;
  min-width: 64px;
}

.not-flipped,
.position {
  position: relative;
}

.selected {
  background-color: #f2e394;
  transition: all 0.2s;
}

.blue {
  background-color: rgba(78, 59, 199, 0.817);
}

.♥️,
.♦️ {
  color: rgba(227, 30, 30, 0.948);
}

.game,
.card,
.empty-array {
  margin: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px grey;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  padding: 10px;
}
.total-height {
  max-height: 1px;
}

.pointer {
  cursor: pointer;
}

#deck,
.not-flipped {
  background-image: url("../../images/playing-card-back.jpg");
  background-size: contain;
  background-position: center;
}

#inverted {
  transform: rotate(180deg);
}

.card-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
