
.game {
  width: 64px;
  text-align: center;
  margin-top: 50px;
  background-color: lightblue;
  cursor: pointer;
  font-weight: 550;
  height: 40px; /* here configure as your needs */
  transition: all 0.2s;
}

.game:active {
  background-color: #f2e394;
}

.card-container {
  display: flex;
}

.ace-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#deck {
  background-color: lightblue;
  cursor: pointer;
}

#ace {
  background-color: #31b94d;
  font-size: 30pt;
  justify-content: center;
  align-items: center;
  color: lightgrey;
  text-shadow: 1px 1px lightgrey;
}

.total {
  display: flex;
  justify-content: center;
  align-content: center;
}

.card {
  min-width: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid 1px #808080;
  background-color: white;
  font-size: 20pt;
  height: 100px;
}

.empty-array {
  height: 100px;
  color: blue;
  border: solid 1px #808080;
  min-width: 64px
}

.not-flipped {
  position: relative;
  background-color: lightblue;
}

.flipped {
  position: relative;
  cursor: pointer;
}

.selected {
  background-color: #f2e394;
  transition: all 0.2s;
}

.blue {
  background-color: blue;
}
.deck-card {
  cursor: pointer;
}

#top-cards {
  cursor: pointer;
}

.♥️,
.♦️ {
  color: red;
}
#dealt {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.♠️,
.♣️ {
  color: black;
}

.game,
.card,
.empty-array {
  margin: 15px;
  border-radius: 15px;
  box-shadow: 2px 2px 10px grey;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  padding: 10px;
}
.total-height {
  max-height:1px;

}