.canvas {
  display: flex;
}

.canvas__game {
  width: 64px;
  padding: 10px;
  text-align: center;
  background-color: rgba(78, 59, 199, 0.817);
  cursor: pointer;
  font-weight: 550;
  height: 40px; /* here configure as your needs */
  transition: all 0.2s;
  color: white;
}

.canvas__game:active {
  background-color: #f2e394;
  color: black;
}

.card-container {
  display: flex;
}

#block {
  position: relative;
  left: 25px;
}

.card {
  display: flex;
  justify-content: space-between;
  min-width: 84px;
  min-height: 130px;
  border: solid 1px #808080;
  background-color: white;
  font-size: 25pt;
  font-weight: 540;
}

.empty-array {
  height: 130px;
  min-width: 84px;
  border: solid 1px #808080;
}
.canvas__game,
.card,
.empty-array {
  margin: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px grey;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
#suits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 30pt;
  max-width: 84px;
  max-height: 130px;
}
#inverted {
  transform: rotate(180deg);
}

.ace-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.card__display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 32px;
}

.total {
  display: flex;
  justify-content: center;
  align-content: center;
}

.not-flipped,
.position {
  position: relative;
}

.selected {
  background-color: #f2e394;
  transition: all 0.2s;
}

.blue {
  background-color: rgba(78, 59, 199, 0.817);
}

.♥️,
.♦️ {
  color: rgba(227, 30, 30, 0.948);
}

.total__height {
  max-height: 1px;
}

.pointer {
  cursor: pointer;
}

.deck,
.not-flipped {
  background-image: url("../../images/playing-card-back.jpg");
  background-position: center;
}


